@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Work Sans;
}
a{
    text-decoration: none;
}
.title{
    color: #000;
    font-size: 48px;
}
.subtitle{
    color: #F948B2;
    font-size: 45px;
}

.primary-btn{
    background-color: #F948B2;
    color: #fff;
    padding: 20px 40px;
    border-radius: 48px;
    text-decoration: none;
}
.primary-btn:hover{
    background-color: #f40996;

}
.secondary-btn{
    background-color:#4EC5F7;
    color: #fff;
    padding: 20px 40px;
    border-radius: 48px;
    text-decoration: none;
}
.secondary-btn:hover{
    background-color: #04a9f0;
}
.container{
    max-width: 1180px;
    margin-inline: auto;
}

/* Header-nav CSS Start */
.header-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo{
    display: flex;
    padding: 35px 0px;
    justify-content: start;
    align-items: center;
    gap: 5px;
}
.header-logo h3{
    font-size: 45px;
    padding-left: 10px;
    color: #000;
}
.header-logo a span{
    color: #F948B2;
    font-family:Work Sans;
    font-weight: 700;
}
.nav{
    display: flex;
    justify-content: flex-end;

}
.nav li{
    padding: 0px 20px;
    font-size: 20px;
    font-family: Work sans;
    color: #000;
    list-style: none;
}
.nav li a{
    color: #000;
    text-decoration: none;
}
.nav li a:hover{
    color: #F948B2;
}
.nav li:nth-child(3) a{
    background-color: #e5e3e3;
    padding: 10px 20px;
    border-radius: 10px;
}
/* Header-nav CSS End */
/* Banner CSS Start */
.banner-section{
    background-image: url('../images/Group\ 14.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left;
}
.banner-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 30px;
}
.banner-content h3{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
}
.banner-content h2{
    font-family: Work Sans;
    font-size: 85px;
    font-style: normal;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-content p{
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    text-transform: lowercase;
}
.banner-img{
    display: flex;
    justify-content: end;
}
.banner-img img{
    width: 70%;
}
.banner-btn{
    display: flex;
    gap: 20px;
    margin-top: 25px;

}
/* Banner CSS End */
/* We are Gamer Section Start */
.we-gamer-section{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 20px 0px;
}
.we-gamer{
    display: flex;
    align-items: center;
    padding: 50px 0px;
}
.we-gamer-img{
    width: 60%;
}
.we-gamer-img img{
    width: 100%;
}
.we-gamer-content{
    width: 40%;
    text-align: center;
}

.we-gamer-content h2{
    color: #f40996;
    font-size: 45px;
    padding: 10px 0px;
}
.we-gamer-content p{
    padding-bottom: 50px;
}
.we-gamer-content h4{
    padding-top: 50px;
    text-align: right;
}
.we-gamer-content small{
    font-weight: 500;
}
/* We are Gamer Section End */
/* Video Section CSS Start */
.video-main{
    padding: 50px 0px;
}
.top-title h1{
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 15px;

}
.top-title p{
    font-size: 18px;
    text-align: center;
    margin-bottom: 25px;
}
.top-title span{
   color: #F948B2 ; 
}
.video-items{
    padding-top: 30px;
    display: flex;
    /* flex-wrap: wrap; */
    gap: 15px;
    align-items: center;
    justify-content: center;
}
.video-item img{
    width: 280px;
    margin: 0px auto;
}
.video-item-title{
    margin-top: 16px;
    font-size: 20px;
    text-align: center;
}

/* Overlay Video Section */
.video-item{
    position: relative;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border: 2px solid #f40996;
}

.video-item:hover .overlay {
    opacity: 1;
}

.overlay-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #f40996;
}

.overlay-content a {
    font-size: 36px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.overlay-content a:hover {
    color: #f40996;
}

.overlay-content h4 {
    font-size: 18px;
    margin-top: 10px;
}


/* Overlay Video Section */
/* Video Section End */
/* Play Section Start */
.play-main{
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 100px 0px;
    gap: 50px;
}
.color-subtitle{
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    color: #F948B2;
    width: 70%;
    margin: 0px auto;
}
.color-subtitle span{
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    color: #000;
}
.play-content p{
    width: 70%;
    padding-top: 15px;
    margin: 0px auto;
}
.play-img img{
    width:90%
}
.img-position img{
    width: 40%;
    position: relative;
    margin-top: -30%;
    margin-left: -20%;
}
/* Play Section End */
/* Button CSS Start */
.button-section{
    padding: 100px 0px;
}
.image-buttons{
    display: flex;
    /* grid-template-columns: repeat(5,1fr); */
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.img-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f7f7f7;
    gap: 5px;
    margin: 10px;
    padding: 0px 20px;
    border-radius: 45px;
    border: 2px solid transparent;
}
.img-button:hover{
    
    border: 2px solid #F948B2;
    transition: .2s ease-in;
    color: #F948B2;
}

.image-buttons a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    color: #272626;
}
.image-buttons a:hover{
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    color: #F948B2;
    transition: .2s ease-in;
}
/* Button CSS End */
/* Footer Start */
footer{
    background-color: #000;
    padding: 100px 0px;
}
.footer-logo{
    display: flex;
    padding: 35px 0px;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.footer-logo h3{
    font-size: 45px;
    padding-left: 10px;
    color: #fff;
}
.footer-logo span{
    color: #F948B2;
    font-family:Work Sans;
    font-weight: 700;
}
.footer-menu{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 15px;
}
.footer-menu a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}
.footer-menu a:hover{
    color: #F948B2;
}
.footer-icon{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 15px 0pc;
}
.footer-icon i{
    font-size: 30px;
    color: #fff;
}
.footer-icon> a i:hover{
    color: #F948B2;
}
.footer-bottom-menu{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 15px;
}
.footer-bottom-menu a{
    text-decoration: none;
    font-size: 16px;
    color: #616161;
}
.footer-bottom-menu a:hover{
    color: #F948B2;
}

.footer-bottom-text{
    padding-top: 20px;
    font-size: 16px;
    color: #616161;
    text-align: center;
}
/* Footer End */

/* ----------Tablet Media Query CSS Start---------------*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .header-nav ,.banner-main ,.we-gamer ,.play-main{
        flex-direction: column;
        margin-bottom: 30px;
    }
    .banner-img{
        justify-content: center;
    }
    .video-items{
        flex-wrap: wrap;
    }
    .play-content{
        text-align: center;
    }
    .play-img img{
        width: 500px;
    }
    .img-position img{
        width: 200px;
    }
    .footer-menu {
        padding: 20px 0px;
    }
    .footer-icon{
        padding-bottom: 20px;
    }

  }
/* ----------Tablet Media Query CSS End---------------*/

  /* ----------Mobile Media Query CSS Start---------------*/
  @media screen and (max-width:576px) {
    /* nav Moblie CSS */
    .header-nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    .nav li{
        padding: 0px 20px;
        font-size: 26px;
        font-family: Work sans;
        color: #000;
        list-style: none;
        margin: 20px 0px;
    }
       /* nav Mobile CSS End*/
        .banner-main{
            display: flex;
            flex-direction: column;
            flex-direction: column-reverse;
            justify-content: space-between;
            align-items: center;
            height: auto;
            margin: 70px 0px;
        }
        
        .banner-img{
            display: flex;
            justify-content: center;
        }
        .banner-content{
            margin-top: 40px;
            text-align:justify;
            margin-left: 30px;
        }
        .banner-content h2{
            font-size: 56px;

        }
        .banner-content p{
            text-align: left;
        }
        /* We are Gamer Section */
        .we-gamer{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px;
            flex-direction: column-reverse;
        }
        .we-gamer-content h2{
            font-size: 28px;
        }
        .we-gamer-content{
            width: 80%;
        }
        .we-gamer-content h4{
            text-align: center;
        }
        /* We are Gamer Section */
        .video-items{
            padding-top: 30px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            justify-content: center;
        }
        .top-title h1{
            font-size: 28px;
        }

        /* Play Section */
       /* Play Section Start */
            .play-main{
            flex-direction: column;
            justify-content: center;
            padding: 30px 0px;
            }
            .color-subtitle{
                font-size: 28px;
                font-style: normal;
                font-weight: 700;
                color: #F948B2;
                width: 70%;
                margin: 0px auto;
                text-align: center;
            }
            .color-subtitle span{
                font-size: 28px;
                font-style: normal;
                font-weight: 700;
                color: #000;
                text-align: center;
            }
            .play-content p{
                width: auto;
                padding-top: 15px;
                margin: 0px 30px;
                text-align: center;
                margin-left: 20px;

            }
            .play-img img{
                width:350px;
            }
            .img-position img{
                width: 40%;
                position: relative;
                margin-top: -20%;
                margin-left: -10%;
            }
            /* Button CSS Start */
            .button-section{
                padding: 50px 0px;
            }
            .image-buttons{
                display: grid;
                grid-template-columns: repeat(3,1fr);
                /* flex-wrap: wrap; */
                align-items: center;
                justify-content: center;
            }
            .img-button{
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: #f7f7f7;
                gap: 5px;
                margin: 5px;
                padding: 0px 10px;
                border-radius: 45px;
            }
            .img-button img{
                width: 20%;
            }
            .image-buttons a{
                text-decoration: none;
                font-size: 11px !important;
                font-weight: 500;
            }
            /* Footer CSS */
            footer{
                padding: 10px 50px;
            }
            .footer-menu, .footer-icon{
                display: grid;
                grid-template-columns: repeat(3,1fr);
                justify-content:space-between;
                gap: 10px;
                text-align: center;
                padding-bottom: 30px;
            }
            .footer-menu a{
                font-size: 15px;

            }
            .footer-bottom-menu{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                text-align: center;
                gap: 10px;
                margin-bottom: 20px;
                
            }

  }
   /* ----------Mobile Media Query CSS End---------------*/

